body
{
  background-image: url(../img/sfondo_legno.jpg);
  background-size: cover;
  padding: 30px 50px;;
}

img
{
  width: 150px;
}

h1
{
  color: white;
  display: inline-block;
}

header
{
  border-bottom: 2px solid white;
}

nav
{
  margin: 20px 0;
}

h2
{
  color: white;
}

span
{
  background-color: orange;
  border-radius: 50%;
  padding: 11px;
}
